@import '../../../../assets/styles/common.less';

.container {
  background: #fff;
  height: 100%;
  overflow: hidden;

  .banner {
    width: 750rpx;
    height: 1324rpx;
  }

  .btn-wrapper {
    position: absolute;
    left: 0;
    bottom: 60rpx;
    right: 0;
    height: 236rpx;
    .flex(column, flex-start, center);

    &.big {
      bottom: 190rpx;
    }

    .logo {
      width: 539rpx;
      height: 116rpx;
      margin-bottom: 60rpx;
    }

    .btn-auth {
      width: 318rpx;
      height: 60rpx;

      image {
        width: 100%;
        height: 100%;
      }
    }
  }
}