@import '../../../../assets/styles/common.less';

.container {
  background: #eacbd8;
  height: 100%;
  overflow: hidden;

  .banner {
    width: 750rpx;
    height: 1334rpx;
    flex-shrink: 0;

    &.big {
      height: 1624rpx;
    }
  }

  .btn-wrapper {
    position: fixed;
    left: 0;
    bottom: 180rpx;
    right: 0;
    .flex(column, center, center);

    &.big {
      bottom: 210rpx;

      .decorate {
        width: 750rpx;
        height: 910rpx;
      }
    }

    .decorate {
      width: 600rpx;
      height: 728rpx;
      margin-bottom: 100rpx;
    }

    .btn-auth {
      width: 490rpx;
      height: 110rpx;

      &.btn-fake{
        opacity: 0;
      }

      image {
        width: 100%;
        height: 100%;
      }
    }
  }

  .logo {
    width: 159rpx;
    height: 102rpx;
    position: fixed;
    right: 40rpx;
    bottom: 30rpx;
  }
}