@import '../../assets/styles/comp.less';

.ant-register-wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 999;
  letter-spacing: 2rpx;

  .mask-area {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .6);
  }

  .content-area {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 560rpx;
    background: #fff;
    // border-radius: 8rpx;
    padding: 56rpx 30rpx 70rpx 30rpx;
    border: 1rpx solid #c8caca;
    .flex(column, flex-start, center);

    .logo {
      width: 280rpx;
      height: 58rpx;
      margin-bottom: 66rpx;
    }

    .hint-box {
      .flex(column, flex-start, center);
      color: #656766;

      .hint {
        font-size: 30rpx;
        margin-bottom: 15rpx;
        // font-weight: 600;
        line-height: 30rpx;
      }

      .point-chunk {
        margin-top: 16rpx;
        font-size: 36rpx;
        .flex(row, center, center);

        .point {
          font-size: 60rpx;
          margin-right: 10rpx;
        }
      }
    }

    .rule-box {
      .flex(row, flex-start, flex-start);
      font-size: 24rpx;
      padding: 50rpx 0;
      color: #6d7e88;
      

      .icon-select {
        width: 32rpx;
        height: 32rpx;
        margin-right: 4rpx;
        margin-top: 3rpx;
      }

      .rule-chunk {
        flex: 1;
        line-height: 32rpx;
        .rule {
          text-decoration: underline;
        }
      }
    }

    .btns-box {
      .flex(column, flex-start, center);

      .btn-success {
        width: 300rpx;
        height: 65rpx;
        // border-radius: 44rpx;
        color: #fff;
        font-size: 30rpx;

        &.btn-disabled {
          background: #99a4ab;
          color: #bfc2c4;
        }
      }

      .btn-cancel {
        background: transparent;
        font-size: 26rpx;
        color: #9a9a9a;
        line-height: 36rpx;
        margin-top: 12rpx;
        border-bottom: 1rpx solid #747474;
      }
    }

    .close-box{
      width: 56rpx;
      height: 56rpx;
      background: #f08c91;
      position: absolute;
      top: -57rpx;
      right: 20rpx;
      .flex(row, center, center);
      .icon-close {
        width: 30rpx;
        height: 30rpx;
      }
    }
    
  }
}