@import '../../../../assets/styles/common.less';

.container {
    background: #fff;
    .scroll-view-container{
        scroll-view{
            top: 10rpx;
            bottom: 10rpx;
            .list-wrapper{
                width: 100%;
                padding: 0 60rpx;
                .flex(column, flex-start, center);
                .list-area{
                    margin-top: 40rpx;
                }
            }
            .zero-wrapper{
                position: absolute;
                top: 35%;
                left: 50%;
                transform: translate(-50%, -50%);
                .flex(column, center, center);
                image{
                    width: 100rpx;
                    height: 76rpx;
                    // background: #f9f9f9;
                    // border-radius: 50%;
                }
                text{
                    font-size: 28rpx;
                    color: #ccc;
                    margin-top: 25rpx;
                }
            }
        }
    }
    
}