@import '../../assets/styles/common.less';

.container {
  .banner-wrapper {
    position: relative;
    width: 100vw;
    height: 500rpx;
  }

  .balance-wrapper {
    font-weight: bold;
    text-align: center;
    padding-top: 35rpx;
    .flex(row, center, flex-start);
   
    .balance {
      .font(50rpx, @color-main);
      position: relative;

      &::after {
        content: '当前积分';
        position: absolute;
        .font(22rpx, lighten(@color-black, 50%));
        right: 0;
        top: 0;
        transform: translateX(100%);
        padding-left: 6rpx;
        min-width: 100rpx;
      }
    }
  }

  .menu-bar-wrapper {
    width: 100vw;
    background: #fff;
    padding: 25rpx 0 30rpx 0;
    border-bottom: 10rpx solid @color-bg;
    .flex(row, space-between, center);

    .menu-bar-item {
      .flex(row, center, center);
      flex: 1;

      &:first-child {
        border-right: 2rpx solid lighten(@color-black, 80%);
      }

      .title-box {
        margin-left: 20rpx;
        .font(32rpx);

        .balance {
          text-decoration: underline;
          padding-top: 10rpx;
          text-align: center;
          .font(28rpx, @color-main);
        }
      }
    }

    .point-area {
      .tab-point {
        width: 60rpx;
        height: 50rpx;
      }
    }

    .turntable-area {
      .tab-turntable {
        width: 60rpx;
        height: 55rpx;
      }
    }
  }

  .exchange-wrapper {
    width: 100vw;
    background: #fff;

    .exchange-title-area {
      .flex(row, center, center);
      padding: 35rpx 0;

      .title-left, .title-right {
        width: 55rpx;
        height: 65rpx;
      }
      .title-box {
        .font(36rpx);
        color: #000;
        font-weight: bold;
        padding: 0 25rpx;
      }
    }

    .exchange-tab-area {
      .flex(row, center, center);
      border-bottom: 2rpx solid @color-gray-light;
      
      .tab-box {
        flex: 1;
        .font(32rpx);
        text-align: center;
        padding-bottom: 16rpx;

        @active-color: @color-gray-darkest;
        &.active {
          color: @active-color;
          font-weight: bold;
          position: relative;

          &::after {
            content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            height: 6rpx;
            width: 120rpx;
            background: @active-color;
          }
        }
      }
    }

    .exchange-list-area {
      .list-content {
        .list-item {
          border-bottom: 2rpx solid @color-gray-light;
          padding: 40rpx;

          &.with-footer {
            padding-bottom: 0;
          }
    
          .product-box {
            .flex(row, flex-start, center);
    
            .product-dec {
              padding-left: 40rpx;
              height: 200rpx;
              .flex(column, space-between, stretch);

              .dec-title {
                color: #000;
                .font(32rpx);
                padding: 10rpx 0;
                .hidden-text;
              }

              .dec-detail {
                .font(28rpx, @color-gray);
              }
            }
          }

          .point-chunk {
            .flex(row, flex-start, center);

            .text-full-black {
              margin-right: 18rpx;
            }

            .icon-point {
              width: 36rpx;
              height: 38rpx;
              margin-right:10rpx;
            }

          }

          .list-item-footer {
            .flex(row, space-between, center);
            padding: 20rpx 0;

            .date-chunk {
              .mr { margin-right: 30rpx; }
            }
          }
        }
      }

      .no-data {
        min-height: 460rpx;
        .flex(column, center, center);

        .no-recode {
          width: 290rpx;
          height: 230rpx;
          margin-bottom: 30rpx;
        }
      }
    }

  }
}
